*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: Anandablack; 
    src: url(./assets/fonts/AnandaBlack.ttf);
}

header{
    background-color: rgb(173, 173, 247);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    padding-left: 150px;
    font-family: anandablack;
}
a:link 
{ 
 text-decoration:none; 
} 
#jumbo{
    height: 400px;
    background-image: url(./assets/images/bowling_field.jpg);
    background-size: cover;
    object-fit: cover;
    color: white;
    padding: 200px;
    display: flex;
    justify-content: center;
}
span{
    border: 2px solid rgb(255, 254, 254);
    padding: 50px ;
    background-color: black;
    opacity: 0.6;
}
#nos-offres{
    word-wrap: break-word;
    text-align: center;
    padding-bottom: 50px;
}
img{
    height: 50px;
}
#cellule{
    display: flex;
    color: white;
    max-width: 1200px;
    margin: auto;

}
#quille {
    background-color: aqua;
    margin: 20px;
    text-align: center;
    width: 33%;

}
#baseball{
    background-color: palevioletred;
    margin: 20px;
    text-align: center;
    width: 33%;
}
#billard{
    background-color: yellow;
    margin: 20px;
    text-align: center;
    width: 33%;
}
h3 ,p{
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
form{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
}
textarea{
    width: 50%;
    
}
#com{
    color: blue;
    max-width: 50px;
    margin: auto;

}
#input-position{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#footer{
    background-color: rgb(6, 182, 235);
}